*{
    margin:0;
    padding:0;
}
.warpper{
    with:100%;    
}
.img-banner{
    display:none;

}
.img-skola
width:100%;
}
.img-skola h2{
    padding:20px 0px 0px;
    font-family:arial;
    font-size : 16px;
   color:#111;
    line-height: 24px;
}
.img-skola p{
    padding:0px 30px 20px;
    font-family:arial;
    font-size : 16px;
    color:#111;
    line-height: 24px;
}
}
.img-skola{
    width:100%;

}
@media only screen and (min-width:768px ){
    .img-banner{
        display:    block;
         width:100%;
         padding-bottom:30px;
    }
    .warpper{
        width:600px;
        margin:0 auto;
    }
    .img-banner h2{
        padding:20px 0px 0px;
    }
    .img-skola p{
        padding:20px 0px 0px 30px;
    }
    }
    .img-skola
    padding-top:30px;
}

}
@media only screen and (min-width:1000px ){
    .warpper{
        width:600px;
   
    }
       .img-skola{
       width:50%;
        float:right;
    } 
    .img-banner{
        padding-top:0px;
        width:50%;
        flaot:left;
  }
}