* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

.wrapper {
    margin: 0 auto 0 60px;
    width: 1000px;
    background-color:red;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #fff;
}

ul  {
    margin-left: 0px;
}

ul li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;
}

ul li a {
    display: block;
    text-decoration: none;
    font-size: 40px;
    font-family: arial;
    color: #1e1e1e;
    padding: 0 20px;
}

ul li a:hover{
    color: red;
}