h1 {
    font-family: Arial, "Times New Roman";
    font-size: 22px;
    font-style: italic;
    font-weight: 100;
    text-align: left;
    text-decoration: underline;
    text-indent: 30px;
    text-transform: lowercase;
    color: rgba(77, 0, 255, 1);
    word-spacing: 10px;
    line-height: 40px;   
}

p {
    font-size: 22px;
    line-height: 30px;
    text-indent: 30px;
}

a {
    text-decoration: none;
}