*  {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(1211.jpg);
    background-size: cover;
}
nav {
    width: 100%;
    height: 60px;
    background-color:rgb(231, 221, 240);
}
nav p {
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}
nav ul {
    float: left;
}
nav ul li {
        float: left;
        list-style: none;
        position: relative;
}
nav ul li a {
    display:block;
    font-family: arial;
    color: darkblue;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration:none;
}
nav ul li ul {
    display:block;
  position:absolute;
  background-color: ghostwhite ;
  padding: 10px;
  border-radius: 10px;
}
nav ul li ul li a {
    padding: 8px 14px;
}
nav ul li ul  li a:hover{
    background-color: gold;
}  ,v    o0,