:root{
        color:red;
    }
    h1:hover{
        color:red;
    
    }
    
    a:visited{
        color:green;
    
    }
    
    .list-example-1 p:last-child{
        color:blue;
    }
    
    .list-example-2 p:nth-chhild(2n+1){
        color:pink;
    }
    /*Pseudo Elements*/
    
    .element-1::first-line{
        background-color:yellow;
        color :red;
    }
    .element-2::fist-letter{
        background-color: green;
        color:white;
    }
    .element-3::selection{
        background-color:green;
        color:blue;
    }
    .element-4::after{
        content:attr(daniel);
    }